@model Player
<div>
    <h1>Evalua las Habilidades de @Model.Name</h1>
    
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/image/avatar-3814081_1280.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"> @Model.Name</h5>
                    <p class="card-text">@Model.Position</p>
                    <p class="card-text">@Model.FavoriteFoot</p>
                    <a href="#" class="btn btn-primary">Evaluar habilidades</a>
                </div>
            </div>
        </div>
    </div>
</div>
